.logo{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(85, 215, 174);
    padding: 30px;
    
}

.logo a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.nav-links li a{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}